# Bot Check Check the followers count using bot score from BOT checker API

You need a rapid api key for [botometer](https://botometer.osome.iu.edu/) from https://botometer.osome.iu.edu/api
You need also twitter API keys from https://developer.twitter.com with upgraded plan.

Create a file with your secrets called 'settings.json'

```json
{
    "rapidapi_key" : "xxxx",
    "consumer_key": "xxxx",
    "consumer_secret": "xxx",
    "access_token": "xxx",
    "access_token_secret": "xxx"
}
```

In [1]:
import botometer
import json


with open("settings.json") as file:
        twitter_app_auth = json.load(file)

rapidapikey = twitter_app_auth.pop("rapidapi_key")

## The reach and the influence of the account is huge, let's list the top verified followers of the account

In [2]:
import pandas as pd
df = pd.read_csv("./data/narkosedoc_followers.csv")
## Do some data cleansing, drop the NANs in followers
df.dropna(subset = ["followers_count"], inplace=True)
df = df.sort_values(by=["verified", "followers_count"])
df.tail(10)

,id,name,screen_name,location,description,url,followers_count,friends_count,created_at,verified
14032,16337664,Volker Beck,Volker_Beck,"Berlin, Deutschland",Citoyen + #humanrights #antisemitismuskritisch...,https://t.co/oZWA53ABdx,93775.0,8766.0,Wed Sep 17 21:38:23 +0000 2008,True
6993,47323734,BR_quer,BR_quer,M√ºnchen,Kritik & Satire mit Christoph S√º√ü. Donnerstags...,https://t.co/fMcKu98g1a,99886.0,1680.0,Mon Jun 15 12:36:48 +0000 2009,True
43772,806177097265901568,Sawsan Chebli,SawsanChebli,"Berlin, Germany",NaN,https://t.co/cWDoYuDDdJ,102763.0,935.0,Tue Dec 06 16:42:52 +0000 2016,True
35724,517824908,NihanüëΩ,Nihan0311,NaN,üì∑Instagram: Nihan | ‚úâÔ∏èMail:kontakt@nihan0311.de,https://t.co/MXr8gArTUb,106986.0,173.0,Wed Mar 07 18:25:29 +0000 2012,True
52970,273019562,Claus von Wagner,clausvonwagner,M√ºnchen,Satiriker | Komiker | Lieferkettenprofiteur | ...,https://t.co/6rSUx7hPFH,108129.0,766.0,Sun Mar 27 17:17:23 +0000 2011,True
34595,4527949647,Quattromilf,ebonyplusirony,Deutschland,MOM I‚ÄôD LIKE TO FOLLOW ‚Ä¢ Dem #quattromob seine...,https://t.co/v1czeYAzua,122417.0,1229.0,Fri Dec 18 20:06:46 +0000 2015,True
49192,35846496,Natascha Strobl,Natascha_Strobl,"Wien, √ñsterreich","Politikwissenschaftlerin, Autorin, Analytikeri...",https://t.co/yIeDjwmI4N,155877.0,6128.0,Mon Apr 27 20:14:30 +0000 2009,True
33019,102911449,J√∂rg,Kachelmann,Schweiz,"*313 ppm. Gemahl, Papi, Spalter. Was war? http...",https://t.co/Sf1EftlHJZ,169756.0,6939.0,Fri Jan 08 06:55:50 +0000 2010,True
8858,69248730,DLR_next,DLR_next,Deutschland,Der etwas andere Account des Deutschen Zentrum...,https://t.co/I8u786d6k5,171615.0,4653.0,Thu Aug 27 09:35:37 +0000 2009,True
51916,5876652,Sascha Lobo,saschalobo,NaN,"Autor, Internet. Keine falschen Schl√ºsse ziehe...",https://t.co/6wBnwRm0sB,772398.0,6764.0,Tue May 08 21:10:26 +0000 2007,True

In [3]:
# remove verified accounts from the data set

df = df[df["verified"] != True]

samples = df.sample(n=100)
samples

,id,name,screen_name,location,description,url,followers_count,friends_count,created_at,verified
36033,1207488013,WaschmaschinenGarantieThomas,Alte_Fritz_,NaN,Stressiger Verein Werder Bremen,NaN,28.0,198.0,Fri Feb 22 09:02:34 +0000 2013,False
9881,3246469815,Philipp üá®üá≠,pfhrxli_62,Schweiz,21 üî•üá®üá≠FDP,NaN,59.0,126.0,Mon May 11 17:05:29 +0000 2015,False
47706,3341092942,Selbstversorger,Genussgarten,NaN,Permakulkturaufbau auf einer ehemaligen Pferde...,NaN,10.0,446.0,Mon Jun 22 10:48:29 +0000 2015,False
37106,1340619226650972161,william.eliah.sch,william_eliah_s,"Bielefeld, Germany",NaN,NaN,3.0,101.0,Sun Dec 20 11:25:19 +0000 2020,False
11715,1325305928682532864,Sarry üíâüíâüíâüêæüêæüè≥Ô∏è‚Äçüåà,Sarry70441441,NaN,"Mittleres Alter, berufst√§tig, Mutter, ausgewan...",NaN,3.0,52.0,Sun Nov 08 05:15:46 +0000 2020,False
...,...,...,...,...,...,...,...,...,...,...
11709,716678946302083072,Lime Chiffon,chiffon_lime,NaN,"Spielzeugsammler, Konsolenfan, 80er und 90er ...",NaN,135.0,241.0,Sun Apr 03 17:29:10 +0000 2016,False
56656,1019652171179200521,Minnie,Minnie00027927,"Baden-W√ºrttemberg, Deutschland","Ehefrau, Leseratte, Medizinwissenstaubsauger, ...",NaN,72.0,627.0,Wed Jul 18 18:36:36 +0000 2018,False
29686,1240233949428842496,Camilla Kienast,kienastc1,"Berlin, Deutschland",√Ñrztin ‚Ä¢ Mitglied B√ºndnis 90/Die Gr√ºnen,NaN,132.0,769.0,Wed Mar 18 11:10:10 +0000 2020,False
15884,1342977894549745672,Fameisafarce,fameisafarce,NaN,mum ‚ù§Ô∏è humanity ‚ù§Ô∏è fcknazisüñïüèª4health+freedom a...,NaN,2.0,66.0,Sat Dec 26 23:37:48 +0000 2020,False
41482,1300128256801337344,Laudi,LaouiniClaudia,NaN,NaN,NaN,2.0,50.0,Sun Aug 30 17:48:40 +0000 2020,False

In [ ]:
bom = botometer.Botometer(wait_on_ratelimit=True,
                          rapidapi_key=rapidapikey,
                          **twitter_app_auth)


f = open("botscores.txt", 'w')
for screen_name, result in bom.check_accounts_in(samples["screen_name"]):
    
    output["id_str"] = result["user_data"]["id_str"];
    output["id_str"] = result["user_data"]["id_str"];
    
    universalScore = flatten_json(result["raw_scores"])
    
    print (universalScore)
    
    json_object = json.dumps(result) 
    if "error" not in result:
        f.write(json_object + "\n")
        print (result)
f.close()

In [18]:
data = pd.read_json ("botscores_backup.txt", lines=True)

In [43]:
data = data[["display_scores", "user"]]

In [40]:
def flatten_nested_json_df(df):

    df = df.reset_index()

    print(f"original shape: {df.shape}")
    print(f"original columns: {df.columns}")


    # search for columns to explode/flatten
    s = (df.applymap(type) == list).all()
    list_columns = s[s].index.tolist()

    s = (df.applymap(type) == dict).all()
    dict_columns = s[s].index.tolist()

    print(f"lists: {list_columns}, dicts: {dict_columns}")
    while len(list_columns) > 0 or len(dict_columns) > 0:
        new_columns = []

        for col in dict_columns:
            print(f"flattening: {col}")
            # explode dictionaries horizontally, adding new columns
            horiz_exploded = pd.json_normalize(df[col]).add_prefix(f'{col}.')
            horiz_exploded.index = df.index
            df = pd.concat([df, horiz_exploded], axis=1).drop(columns=[col])
            new_columns.extend(horiz_exploded.columns) # inplace

        for col in list_columns:
            print(f"exploding: {col}")
            # explode lists vertically, adding new columns
            df = df.drop(columns=[col]).join(df[col].explode().to_frame())
            new_columns.append(col)

        # check if there are still dict o list fields to flatten
        s = (df[new_columns].applymap(type) == list).all()
        list_columns = s[s].index.tolist()

        s = (df[new_columns].applymap(type) == dict).all()
        dict_columns = s[s].index.tolist()

        print(f"lists: {list_columns}, dicts: {dict_columns}")

    print(f"final shape: {df.shape}")
    print(f"final columns: {df.columns}")
    return df

In [47]:
data=flatten_nested_json_df(data)[['display_scores.universal.fake_follower',
       'display_scores.universal.financial', 'display_scores.universal.other',
       'display_scores.universal.overall',
       'display_scores.universal.self_declared',
       'display_scores.universal.spammer', 'user.majority_lang',
       'user.user_data.id_str', 'user.user_data.screen_name']];

original shape: (76, 3)
original columns: Index(['index', 'display_scores', 'user'], dtype='object')
lists: [], dicts: ['display_scores', 'user']
flattening: display_scores
flattening: user
lists: [], dicts: []
final shape: (76, 18)
final columns: Index(['index', 'display_scores.english.astroturf',
       'display_scores.english.fake_follower',
       'display_scores.english.financial', 'display_scores.english.other',
       'display_scores.english.overall',
       'display_scores.english.self_declared',
       'display_scores.english.spammer', 'display_scores.universal.astroturf',
       'display_scores.universal.fake_follower',
       'display_scores.universal.financial', 'display_scores.universal.other',
       'display_scores.universal.overall',
       'display_scores.universal.self_declared',
       'display_scores.universal.spammer', 'user.majority_lang',
       'user.user_data.id_str', 'user.user_data.screen_name'],
      dtype='object')

In [51]:
data["url"] = "https://twitter.com/" + data["user.user_data.screen_name"]

In [53]:
data[["display_scores.universal.overall", "url"]]

    display_scores.universal.overall                                  url
0                                4.6  https://twitter.com/KirstenBartels9
1                                1.4           https://twitter.com/GloGl2
2                                0.4      https://twitter.com/dackeltante
3                                0.4  https://twitter.com/Honigbaellchen5
4                                4.7          https://twitter.com/IFragen
..                               ...                                  ...
71                               4.2   https://twitter.com/MandyMandyli87
72                               1.2  https://twitter.com/LinkerKanzlerin
73                               0.4    https://twitter.com/AlexLeonLenni
74                               1.9       https://twitter.com/Kuhfaenger
75                               3.4           https://twitter.com/Egnara

[76 rows x 2 columns]

In [54]:
data

,display_scores.universal.fake_follower,display_scores.universal.financial,display_scores.universal.other,display_scores.universal.overall,display_scores.universal.self_declared,display_scores.universal.spammer,user.majority_lang,user.user_data.id_str,user.user_data.screen_name,url
0,4.6,3.6,4.4,4.6,2.8,3.1,en,1433384941665009665,KirstenBartels9,https://twitter.com/KirstenBartels9
1,1.2,0.8,1.4,1.4,0.0,1.0,de,880153711468826624,GloGl2,https://twitter.com/GloGl2
2,0.2,0.0,1.0,0.4,0.0,0.0,de,2206048186,dackeltante,https://twitter.com/dackeltante
3,0.4,0.1,1.7,0.4,0.2,0.0,de,938366612763234304,Honigbaellchen5,https://twitter.com/Honigbaellchen5
4,4.7,0.4,3.8,4.7,3.7,4.4,de,1254094059527909378,IFragen,https://twitter.com/IFragen
...,...,...,...,...,...,...,...,...,...,...
71,4.2,1.4,2.3,4.2,2.2,0.6,und,1305554821496406018,MandyMandyli87,https://twitter.com/MandyMandyli87
72,1.5,0.2,0.4,1.2,0.2,1.0,de,1454824881879666692,LinkerKanzlerin,https://twitter.com/LinkerKanzlerin
73,0.2,0.0,0.8,0.4,0.0,0.0,de,3918943762,AlexLeonLenni,https://twitter.com/AlexLeonLenni
74,2.4,0.0,1.5,1.9,0.3,0.8,de,1699433137,Kuhfaenger,https://twitter.com/Kuhfaenger
75,3.3,0.3,3.4,3.4,2.2,1.2,de,39260908,Egnara,https://twitter.com/Egnara